#encoding utf-8
\#comment
cardatainput=$base_dir/input/xway01-withaccidents.dat

\#comment
completehistory=$base_dir/input/xway01.historical-tolls

\#comment
dailyexpenditure=$base_dir/output/two/histquerytwo.out

\#comment
accountbalance=$base_dir/output/two/histqueryone.out.with-emittime

\#comment
outputtollalerts=$base_dir/output/two/tollalert.out

\#comment
outputaccidentalerts=$base_dir/output/two/accalert.out

\#comment
keeplog=$keep_log

\#comment
logfile=$log_file_name

\#comment
databasename=$database_name

\#comment
databaseusername=$database_user

\#comment
databasepassword=$database_password
