#comment
cardatainput=/home/linear/input/xway01-withaccidents.dat

#comment
completehistory=/home/linear/input/xway01.historical-tolls

#comment
dailyexpenditure=/home/linear/output/two/histquerytwo.out

#comment
accountbalance=/home/linear/output/two/histqueryone.out.with-emittime

#comment
outputtollalerts=/home/linear/output/two/tollalert.out

#comment
outputaccidentalerts=/home/linear/output/two/accalert.out

#comment
keeplog=yes

#comment
logfile=execution.log

#comment
databasename=dbxway01

#comment
databaseusername=linear

#comment
databasepassword=linear